<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Django Web编程完整实例</title>
</head>
<body>
<div style="width:100%;text-align:center">
    <form action="/login" method="get" >
       <H2/> <label>表单示例程序</label></H2>         <br/>
        <label>姓名：</label><input type="text" name="Name">  <br/>
        <br/>
        <label>电话：</label><input type="text" name="Tel">   <br/>
        <br/>
        <input type="submit" value="登录"> &nbsp;&nbsp;&nbsp; <input type="submit" value="取消">  <br/>
    </form>
</div>
</body>
</html>